# Copyright (c) 2011-2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of Code Aurora Forum, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#
on early-boot
    start comp-set
    start rendering-set

on fs
# mount mtd partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    mount yaffs2 mtd@system /system
    mount yaffs2 mtd@system /system ro remount
    mount yaffs2 mtd@userdata /data nosuid nodev
    mount yaffs2 mtd@persist /persist nosuid nodev
    mount yaffs2 mtd@cache /cache nosuid nodev
    mount yaffs2 mtd@persist /persist nosuid nodev

on emmc-fs
# mount mmc partitions
    wait /dev/block/mmcblk0p12
    mount ext4 /dev/block/mmcblk0p12 /system ro barrier=1
    wait /dev/block/mmcblk0p13
    #exec /system/bin/e2fsck -p /dev/block/mmcblk0p13
    # lichm modified for restore data partition on 20120907
    exec /system/bin/e2fsck -y /dev/block/mmcblk0p13

    #mount ext4 /dev/block/mmcblk0p13 /data nosuid nodev barrier=1 noauto_da_alloc  wuxh remove 
    # lichm 20120503 modified for larger userdata partiton size
 	#mount ext4 /dev/block/mmcblk0p13 /data rw nosuid nodev barrier=1 noauto_da_alloc,noinit_itable,nodelalloc

    #mount ext4 /dev/block/mmcblk0p14 /persist nosuid nodev barrier=1
    #mount ext4 /dev/block/mmcblk0p15 /cache nosuid nodev barrier=1
    mount ext4 /dev/block/mmcblk0p13 /data rw nosuid nodev barrier=1 noauto_da_alloc,noinit_itable,nodelalloc
    mount ext4 /dev/block/mmcblk0p14 /persist rw nosuid nodev barrier=1
    mount ext4 /dev/block/mmcblk0p15 /cache rw nosuid nodev barrier=1

on post-fs
    exec /system/bin/sh /system/etc/init.qcom.thermald_conf.sh

service comp-set /system/bin/sh /system/etc/init.qcom.composition_type.sh
    class late_start
    user root
    critical
    disabled
    oneshot

service ztebasebandinit /system/bin/sh /system/etc/init.zte.baseband.sh
    class late_start
    user root
    oneshot

service rendering-set /system/bin/sh /system/etc/init.qcom.rendering.sh
    class late_start
    user root
    critical
    disabled
    oneshot

on property:sys.radio.shutdown=true
   exec /system/bin/sh /system/etc/init.qcom.efs.sync.sh
   user root
   group root

